*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    width: 100%;
    min-width: 1300px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-left: 0px;
    gap: 0px  30px;
       
}
.box{
    width: 190px;
    cursor: pointer;
    height: 420px;
    margin-left:30px;
    margin-top: 2rem;
    transform:scale(1.1);
    transition: 1s;    
    position: relative;
    top: 50px;
}
.box img:hover{
    transform:scale(1.1);
    transition: 1s;
}
.box img{
    width: 100%;
    border-radius: 10px 10px 10px 10px; 
}
.product-image{
    display: flex;
    align-items: center;
}
.product-name{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    height: 55px;
    
}
.product-price{
    display: flex;
    align-items: center;
    justify-content: end;
   
}
.img{
    overflow: hidden;
}

.img img{
    display: block;
    width: 100%;
    height: 100%;
}

.img:hover img{
    transform: scale(1.1);
    transition: 2s;
}



@media screen and (max-width: 1280px) {
    .container {
        width: 100%;
    }
}